<ion-view title="Page" id="page10">
  <ion-content padding="true" style="background: url(img/nD1LB6IRiXxoZNIl6VAK_1tpD.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page6-button17" class="button button-positive button-block button-clear"></button>
    <button id="page6-button18" class="button button-positive button-block button-clear"></button>
    <button id="page6-button19" class="button button-positive button-block button-clear"></button>
    <button id="page6-button20" class="button button-positive button-block button-clear"></button>
    <a ui-sref="page7()" id="page6-button21" style="font-weight:600;color:#F01568;" class="button button-light button-block">பயிற்சிகள்</a>
  </ion-content>
</ion-view>