<ion-view title="Page" id="page7">
  <ion-content padding="true" style="background: url(img/LVZvx2aqQLq7W8xUQphv_animated-background-and-clipart-5.gif) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page3-heading2" style="color:#CAF50D;font-weight:600;text-align:center;">எடுத்துக் காட்டு</h1>
    <div>
      <a style="display:block;" ui-sref="page4()">
        <img src="img/TWEw8YU1S0S43hWfX6Xu_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/kiQx2_7BvMQ&amp;feature=youtu.be?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page3-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <a ui-sref="page2()" id="page3-button13" class="button button-assertive button-block">அடுத்த பழமொழி</a>
  </ion-content>
</ion-view>