<ion-view title="அகரம் பயில்வோம் வாரீர்" id="page1" style="background-color:#F014A0;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="page2()" id="page1-button2" style="font-weight:600;color:#0F1110;font-size:20px;" class="button button-energized button-block">பழமொழிகள் </a>
    <div>
      <img src="img/mGzZLfKWRQuFXB4DkegE_CelebratedAptBlueshark-size_restricted.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>