<ion-view title="Page" id="page9">
  <ion-content padding="true" style="background: url(img/PQ4ZvGg7SW2SXxL3DlMR_animated-background-and-clipart-5.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page5-button15" style="font-weight:600;color:#F10871;" class="button button-light button-block">எடுத்துக் காட்டு</button>
    <div>
      <img src="img/5IGHaLYT9CXKBzOqnRgQ_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/5TjrBHkxpUI&amp;feature?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page5-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <a ui-sref="page6()" id="page5-button16" style="color:#F8146A;" class="button button-positive button-block button-outline">தொடர்க</a>
  </ion-content>
</ion-view>