<ion-view title="Page" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/lXFZ7jWpT3GoKNUucX2I_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/DBBwThKR0yq7KtgH4K7H_j.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="page3()">
        <img src="img/J9tf1BuBQMSv2ZeyzMsS_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>