<ion-view title="" id="page12" style="background-color:#6674AA;">
  <ion-content padding="true" class="has-header">
    <h4 id="page12-heading4" style="color:#000000;text-align:center;">கீழ்க்காணும் காணொலிக்குப் பொருத்தமான பழமொழியைத் தேர்வு செய்க.</h4>
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/8NVXgw3yBLQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page12-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <button id="page12-button26" style="font-weight:600;color:#DA098D;" class="button button-stable button-block">சிறு துளி பெரு வெள்ளம்</button>
    <button id="page12-button27" style="font-weight:600;color:#EE15EE;" class="button button-light button-block">நோயற்ற வாழ்வே குறைவற்ற செல்வம் </button>
  </ion-content>
</ion-view>